@page "/counter"
@using System.Linq.Expressions;
@using System.Reflection;
@using Car_Rental.Common.Enums;
@using Car_Rental.Common.Interfaces;
@using Car_Rental.Business.Classes;
@inject BookingProcessor bp

<PageTitle>Counter</PageTitle>
@* <ul class="list-group mb-3">
    @foreach (var test in bp.GetVehicles())
    {
        <li>@test.Make</li>
    }
</ul> *@

@* <ul>
    
    <li>@bp.GetVehicle(1)?.Make</li>
    <li>@bp.GetVehicle("ABC123")?.Make</li>
    <li>@bp.GetPerson("12345")?.FirstName</li>
    <li>@bp.GetPerson("98765")?.FirstName</li>
    <li>@bp.GetPerson("92345")?.FirstName</li>
</ul> *@



@code {
    /*protected override void OnInitialized()
    {
        bp.AddCustomer("Elin", "Jansson", "90103");
        bp.AddVehicle("Honda", "456QWE", 13000, 1, VehicleStatuses.Available, VehicleTypes.Combi);
    }*/
}
